@import "tailwindcss";


@media print {

    body * {

        visibility: hidden;

    }

    .printable-result,
    .printable-result * {

        visibility: visible;

    }

    .printable-result {

        position: absolute;

        left: 0;

        top: 0;

        width: 100%;

        padding: 20px;

    }

}